<app-navbar></app-navbar>
<br><br><br>
<div class="container mt-4">
  <h2 class="text-center mb-4">Registrar Biblioteca</h2>
  <form (ngSubmit)="registrarBiblioteca()" class="container mt-4 border p-4 rounded form">
    <!-- Nombre -->
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre de la Biblioteca</label>
      <input
        type="text"
        id="nombre"
        class="form-control"
        [(ngModel)]="biblioteca.nombre"
        name="nombre"
        required
      />
    </div>

    <!-- Plan -->
    <div class="mb-3">
      <label for="plan" class="form-label">Plan</label>
      <select
        id="plan"
        class="form-select"
        [(ngModel)]="biblioteca.plan"
        name="plan"
        required
      >
        <option value="basico">Básico</option>
        <option value="premium">Premium</option>
        <option value="vip">VIP</option>
      </select>
    </div>

    <!-- Botón de Simular Pago -->
    <div class="d-flex justify-content-center gap-3 mb-4">
      <button 
        type="button" 
        class="btn btn-success w-45" 
        (click)="simularPago()">
        Simular Pago
      </button>
    </div>
    <p *ngIf="biblioteca.pago" class="text-success mt-2">
      Pago realizado con éxito.
    </p>

    <!-- Botones de Registrar y Cancelar -->
    <div class="d-flex justify-content-center gap-3 mt-4">
      <button 
        type="submit" 
        class="btn btn-primary w-45" 
        [disabled]="!biblioteca.nombre || !biblioteca.plan">
        Registrar
      </button>
      <button type="button" class="btn btn-secondary w-45" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
